._bg_black {
  @apply bg-[#212126] text-white;
  background-image: url("../../../public/images/main-bg-image.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  height: 885px;
}

._grid_left {
  @apply sm:grid sm:grid-cols-2 flex flex-col-reverse;
}

._grid_right {
  @apply sm:grid sm:grid-cols-2 flex flex-col-reverse;
  grid-auto-flow: dense;
  direction: rtl;
}

._divider {
  @apply divide-y-[3px] h-5 bg-[#C09D44] border-b-4 border-black;
}

._main_image {
  /* @apply transition-opacity opacity-0 duration-[2s]; */
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

._main_image_animation {
  /* @apply transition-opacity opacity-0 duration-[2s]; */
}

._no_flex {
  @apply sm:mt-[100px] sm:mb-[150px] mt-6 mb-6 text-center sm:text-left flex flex-col justify-center;
}

._flex {
  @apply mt-[100px] mb-[150px];
}

._title_left {
  @apply sm:text-[40px] text-[35px] font-black uppercase text-[#C09D44] text-center sm:text-left;
}

._subtitle_left {
  @apply mt-3 text-[#C8C8C4] text-center sm:text-left;
}

._title_right {
  @apply sm:text-[64px] text-[35px] font-black uppercase text-[#C09D44] block m-0;
}

._subtitle_right {
  @apply mt-3 text-[#C8C8C4] text-xl;
  line-height: 30px;
}
