._container {
  @apply container mx-auto;
}

._grid {
  @apply mt-24 mb-28;
}

._flex {
  @apply flex justify-center;
}

._flex_content {
  @apply flex flex-col justify-center ml-5;
}

._title {
  @apply text-base text-[#c09d44] uppercase font-black break-words;
}
._subtitle {
  @apply text-[#212126] text-2xl font-semibold;
}

._mock_image {
  width: 180px;
  height: 130px;
  background: #212126;
}

._image {
  @apply mb-10;
  transform: scaleX(-1);
}
